* {
  margin: 0;
}
/* .app_header {
  display: flex;
  justify-items: "space-between";
  align-items: center;
} */

body {
  background-color: rgb(245, 245, 245);
}

.app_state {
  display: flex;
  justify-content: space-between;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app_left {
  /* app_left div will tak 90% of the width of the screen */
  flex: 0.9;
}

@media (max-width: 900px) {
  .app {
    flex-direction: column;
  }
}
